<h1>Apontador</h1>
<h2>Buscas com resultado muito extenso podem demorar mais</h2>
<form method="get" name="busca" action = "./csv">
<div class="row requiredRow">
	<label for="cidade" id="cidade-ariaLabel">Cidade</label>
	<input id="cidade" name="cidade" type="text" aria-labelledby="cidade-ariaLabel" class="required" title="cidade. Campo obrigatório">
</div>
<div class="row requiredRow">
	<label for="busca" id="busca-ariaLabel">Filtro</label>
	<input id="busca" name="busca" type="text" aria-labelledby="busca-ariaLabel" class="required" title="busca. Campo obrigatório">
</div>
<div class="row">
    <input type="submit" value="Gerar CSV">
</div>
</form>
